/**
 * CSS styling for all public pages
 *
 * Creator: Benedict Wong, 2015
 */

html {
    position: relative;
    margin: 0;
    padding: 0 20px 0 20px;
    width: calc(100% - 40px);
    height: 100%;
    background-color: #222;
    -webkit-overflow-scrolling: touch;
    font-family: sans-serif;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 38px);
    -webkit-overflow-scrolling: touch;
    font-family: sans-serif;
    color: #000;
    background-color: #DDD;
}
/*
 *
 * Navbar Customization:
 */

.navBarContainer {
    display: block;
    overflow: hidden;
    position: relative;
    width: calc(100% - 40px);
    height: 75px;
    padding: 25px 20px 20px 20px;
    background-color: #800000;
    color: #FFF;
}
.rhLogo {
    float: left;
    height: 100%;
}
/*
 * 
 * Body Customization:
 */

.tutorial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}
.container {
    position: relative;
}
.tableList {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    table-layout: fixed;
}
.buttonContainer {
    float: right;
}
.button {
    display: inline-block;
    border-left: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    border-top: solid 1px #CCC;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #EEE;
    color: #000;
}
.tableList tr {
    background-color: #EEE;
    color: #000;
}
.tableList td {
    padding: 30px 10px;
    border-bottom: solid 1px #CCC;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tableList tr:last-child td, .tableLastRowRoundBottomLeft td, .tableLastRowRoundBottomRight td {
    border-bottom: none;
}
.roundTableTopLeft tr:first-child td:first-child, .roundTableAllCorners tr:first-child td:first-child, .roundTopLeft {
    border-top-left-radius: 10px;
}
.roundTableTopRight tr:first-child td:last-child, .roundTableAllCorners tr:first-child td:last-child, .roundTopRight {
    border-top-right-radius: 10px;
}
.roundTableBottomLeft tr:last-child td:first-child, .roundTableAllCorners tr:last-child td:first-child, .tableLastRowRoundBottomLeft td:first-child, .roundBottomLeft {
    border-bottom-left-radius: 10px;
}
.roundTableBottomRight tr:last-child td:last-child, .roundTableAllCorners tr:last-child td:last-child, .tableLastRowRoundBottomRight td:last-child, .roundBottomRight {
    border-bottom-right-radius: 10px;
}
/**
 * INDEX
 * Body customization
 */

.menuContainer {
    position: relative;
    padding: 25px 0px 25px 0px;
    width: 200px;
    float: left;
    background-color: #BBB;
    height: calc(100% - 170px);
    -webkit-box-shadow: 5px 0 5px -2 #888;
    -moz-box-shadow: 5px 0 5px 0 #888;
    box-shadow: 5px 0 5px 0 #888;
}
.menuList tr {
    padding: 30px 10px;
    border-top: solid 1px #CCC;
    color: #000;
}
.menuList tr:last-child {
    border-bottom: solid 1px #CCC;
}
.menuList td {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menuList .level1{
    font-weight: bold;
    font-size: 20px;
}
.menuList .level2{
    font-size: 16px;
}
.contentFrame {
    position: relative;
    padding: 25px 25px 25px 25px;
    width: calc(100% - 250px);
    float: right;
}
.searchBar {
    width: calc(100% - 34px);
    padding: 10px 15px;
    border: solid 2px #EEE;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #EEE;
    font-size: 2.0em;
}
.searchBar:focus {
    outline: none;
    border: solid 2px #5555FF;
    background-color: #FDFFD6;
}
.companyListHighlight {
    width: 50px;
    font-weight: bold;
    color: #38C;
}
.companyListCompanyID {
    width: 0;
    display: none;
    visibility: hidden;
}
.companyListTable {
    width: 100px;
}
/*.companyListInfo {
    width: 50px;
}*/

/**
 * FILTERS
 * Body customization
 */

.filtersListExpandColumn {
    width: 100px;
}
.filtersListSelectColumn {
    font-weight: bold;
    color: #38C;
}
.filtersListGroupRow {
    font-weight: bold;
    background-color: #F9FFBF;
}
.filtersListGroupRow td {
    border-bottom: solid 1px #222;
}
/**
 *
 * Footer customization
 */

.footer {
    display: block;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: calc(100% - 40px);
    padding: 5px 20px 5px 20px;
    background-color: #800000;
    text-align: center;
    font-size: 12px;
    color: #FFF;
}
/**
 *
 * Modification classes
 */

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.verticalAlignTop {
    display: inline-block;
    position: relative;
    top: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.verticalAlignCenter {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.verticalAlignBottom {
    display: inline-block;
    position: relative;
    top: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.horizontalAlignLeft {
    display: inline-block;
    position: relative;
    left: 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.horizontalAlignCenter {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.horizontalAlignRight {
    display: inline-block;
    position: relative;
    left: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}