html, body {
    margin: 0;
    padding: 0 20px 20px 20px;
    width: calc(100% - 40px);
    background-color: #222;
    color: #CCC;
    -webkit-overflow-scrolling: touch;
    font-family: sans-serif;
}
/*
 *
 * Navbar Customization:
 */

.navBarContainer {
    display: block;
    overflow: hidden;
    position: relative;
    width: calc(100% - 40px);
    height: 75px;
    padding: 25px 20px 20px 20px;
    margin-bottom: 25px;
    background-color: #800000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #FFFFFF;
}
.rhLogo {
    float: left;
    height: 100%;
}
.backBtn {
    float: left;
    cursor: pointer;
    padding-right: 30px;
    height: 100%;
}
.filterBtn {
    float: right;
    cursor: pointer;
    height: 100%;
}
/*
 *
 * Body Customization:
 */

.bodyContent {
    font-size: 2.0em;
}
.canvasMapContainer {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.canvasMapContainer:before {
    content="";
    display: block;
    padding-top: 50%;
}
.canvasMap {
    width: 100%;
    border: 0px solid #EEE;
    border-radius: 10px;
}
.searchBar {
    width: calc(100% - 34px);
    padding: 10px 15px;
    border: solid 2px #EEE;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #EEE;
    font-size: 2.0em;
}
.searchBar:focus {
    outline: none;
    border: solid 2px #5555FF;
    background-color: #FDFFD6;
}
.companyList {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    table-layout: fixed;
}
tr {
    background-color: #EEE;
    color: #000;
}
td {
    padding: 30px 10px;
    border-top: solid 1px #AAA;
    border-left: solid 1px #CCC;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td: last-child {
    border-right: solid 1px #AAA;
}
tr: last-child td {
    border-bottom: solid 1px #CCC;
}
.companyListHighlightColumn {
    width: 50px;
    font-weight: bold;
    color: #38C;
}
.companyListCompanyColumn {
    width: calc(100% - 200px);
}
.companyListTableColumn {
    width: 100px;
}
.companyListInfoColumn {
    width: 50px;
}
.roundTableTopLeft tr:first-child td:first-child, .roundTableAllCorners tr:first-child td:first-child {
    border-top-left-radius: 10px;
}
.roundTableTopRight tr:first-child td:last-child, .roundTableAllCorners tr:first-child td:last-child {
    border-top-right-radius: 10px;
}
.roundTableBottomLeft tr:last-child td:first-child, .roundTableAllCorners tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.roundTableBottomRight tr:last-child td:last-child, .roundTableAllCorners tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
/**
 *
 * Modification classes
 */

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.verticalAlignTop {
    display: inline-block;
    position: relative;
    top: 0%;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
.verticalAlignCenter {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.verticalAlignBottom {
    display: inline-block;
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
.horizontalAlignLeft {
    display: inline-block;
    position: relative;
    left: 0%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
.horizontalAlignCenter {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.horizontalAlignRight {
    display: inline-block;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}